*{
      margin: 0px;
      font-family: "Amazon Ember", arieal, sans-serif;
}

.header{
      background-color: #0f1111;
      height: 60px;
      width: 100%;
      position: fixed;
      display: flex;
      align-items: center;
      color: white;
      justify-content: space-evenly; 

}

.logo{
      background-image: url('/images/logo.png');
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      height: 60px;
      width: 100px;
}

.logo-image{
      width: 50px;
      height: 50px;
}

#loc{     
      margin-right: 3px;
}

.loc{
      width: 90px;
}

.loc1{
      margin-left: 15px;
      color: gray;
      margin-right: 10px;
      font-size: small;
}
.loc2{
      display: flex;
}
.loc2:hover{
      color: #FEBD68;
      cursor: pointer;
}
#loc:hover{
      color: #FEBD68;
      cursor: pointer;
}
#select,
#search,
#search-btn {
    height: 40px;
    cursor: pointer;
}

#search {
    width: 100%;
    font-size: 1rem;
    text-align: start;
    padding: 0px;
    border: none;
}

#select,
#search-btn {
    width: 45px;
    border: none;
}

#select {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    background-color: #EEE;

}

#search-btn {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    background-color: #FEBD68;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}
.nav-search {
      display: flex;
      height: 40px;
      width: 900px;
      align-items: center;
      justify-content: space-evenly;
  }

  .lang{
      display: flex;
      align-items: center;
      justify-content: center;
      color: white;
      margin-top: 10px;
  }

  #lang1{
      margin-left: 5px;
      color: gray;
  }

  .sign-in{
      align-items: center;
      height: 50px;
      width: 150px;
      align-content: center;
  }

  .sign-in-line1{
      margin-left: 8px;
      font-size: small;
  }

  .sign-in-line2{
      display: flex;
      align-items: center;
      justify-content: center;
      width: 150px;
      color: white;
  }

  #return{
      width: 80px;
  }

  #return-line1{
      font-size: small;
  }

  #cart{
      width: 90px;
      display: flex;
  }

  .logo .nav-search .lang .sign-in #return #cart:on-hover{

      border: white solid 1px;
  }